:root {
    --bg-primary : #18191B;
    --bg-secondary : #252627;
}

body{
    color : white;
    background-color: var(--bg-primary);
}

.main-box {
    background-color: var(--bg-secondary);
}

.graphBox {
    max-width: 1000px;
    background-color: bg;
}